*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url(../img/background.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 100vh;
}

main {
   height: auto;
   margin: 0 auto;
}

.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}