@import "config";
@import "typo";

.title {
   margin-top: 90px;;
   margin-bottom: 20vh;
}


.nav-bar {
   
   padding-bottom: 60px;

   .search-bar {
   height: 40px;
   width: 500px;
   padding: 3px 20px;
   border: 1px solid grey;
   border-radius: 22px;
   }

   .submit-btn {
      border: none;
      padding: 15px;
      border-radius: 100%;
   }
}

.score-descr {

   visibility: hidden;
   
   display: flex;
   flex-direction: column;
   align-items: center;

   .scores {
   display: flex;
   justify-content: space-around;
   border: 2px solid red;
   border-radius: 10px;
   padding: 20px 20px;

   background-color:rgba(255,255,255, 0.85);

      .scores-left{
         padding-right: 75px;

      }
      .scores-right {
         padding-left: 75px;

      }
   }

   .about {
      margin-top: 40px;
   }
   .summary {
      width: 80%;
      margin-top: 20px;
      padding: 0 20px 50px 20px;
   }

}


@import "mobile"